<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div class="about-section">
        <div class="card text-center">
            <div class="card-body">
                <img src="assets\Images\IMG_1543.jpeg" alt="Profile Picture" class="card-img-top mx-auto">
                <h1 class="display-4 card-title">About Me</h1>
                <p class="lead">I'm a versatile .NET Developer with over two years of experience in creating efficient, scalable web applications.</p>
                <p>I specialize in both back-end and front-end development, with a strong foundation in .NET technologies like <strong>C#</strong>,<strong>ASP.NET Core</strong>, <strong>ADO.NET</strong>, and <strong>Entity Framework</strong>, complemented by front-end expertise in <strong>Angular</strong>, <strong>JavaScript</strong>, <strong>HTML</strong>, and <strong>CSS</strong>.</p>
                <p>I've worked on projects like EOS (Energy Operation System), where I leveraged <strong>ASP.NET Core Web API</strong>, <strong>SQL Server</strong>, <strong>Angular</strong>, and <strong>Azure</strong> to create seamless, user-friendly experiences.</p>
                <p>This experience has equipped me with practical knowledge of CI/CD pipelines, Agile methodologies, and tools like <strong>Azure DevOps</strong>, <strong>Git</strong>, and <strong>Bitbucket</strong>. I'm passionate about clean code and design, applying SOLID principles and design patterns to enhance code quality, maintainability, and scalability.</p>
                <div class="skills">
                    <div class="skill">
                        <i class="fab fa-angular fa-2x"></i>
                        <p>Angular</p>
                    </div>
                    <div class="skill">
                        <i class="fab fa-js fa-2x"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="skill">
                        <i class="fab fa-html5 fa-2x"></i>
                        <p>HTML</p>
                    </div>
                    <div class="skill">
                        <i class="fab fa-css3 fa-2x"></i>
                        <p>CSS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
